.Header {
  width: 100vw;
  background-color: rgb(25, 118, 210);
  color: white;
  font-size: xx-large;
  padding-top: 30px;
  text-align: center;
}

.navlinks {
  font-size: large;
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
}

.link {
  color: white;
  padding: 3px;
}

.link:hover {
  color: rgb(224, 222, 222);
  cursor: pointer;
}

.icon {
  margin-right: 10px;
}
